.subscription{
  background-image: url(../../img/carrots-food-fresh-616404.jpg);
  background-size: cover;
  background-position: center;
  // height: 100vh;
    h1{
      text-align: center;
      font-size: 1.8em;
      margin: 1em;
      color:  #5e5250;
    }
  .subscriptionForm{
    margin: 0 auto;
    width: 500px;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Fresca', sans-serif;
    font-size: 1.5em;
    .field label{
      color: #5e5250;
    }
    .field input {
      height: 2em;
    }
  }
  #buttons {
    display: flex;
    justify-content: center;

    .subscriptionButton{
      background-color: #7ba566;
      color: white;
      width: 245px;
      font-size:1em;
      margin-right: 0.2em;
      text-align: center;
      padding: 0.5em;
      border-radius: 5px;
      border: none;
      font-family: 'Fresca', sans-serif;
    }
  }
}

