<html>
    <head>
        <meta charset="UTF-8">
        <title> {% block title %}{% endblock %}</title>
         <link rel="stylesheet" href="http://localhost/Spe/S01/Parcours/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

{% block body %}{% endblock %}

        <script src="http://localhost/Spe/S01/Parcours/public/js/jquery.min.js"></script>
        <script src="http://localhost/Spe/S01/Parcours/public/js/popper.min.js"></script>
        <script src="http://localhost/Spe/S01/Parcours/public/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
