#garden {
  display: flex;
  min-height: 80vh;
  margin-bottom: 200px;
}

.table-container{
  font-family: 'Fresca', sans-serif;
  width: 65%;
  margin: 60px 30px 60px 60px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
    transition: all 400ms;
    &:hover{
      transform: scale(1.015);
    }
  .gardenRow{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    min-height: 10%;
    min-width: 5%;

  }
}
.actif {
    background-image: radial-gradient(ellipse at top, #dedcad, #bfc992, #9eb77b, #7ba566);
}
.inactif {
  background-image: radial-gradient(ellipse at top, #d7c4a9, #b09b8a, #87756d, #5e5250);
}
.table-cell {
  // background-image: radial-gradient(ellipse at top, #dedcad, #bfc992, #9eb77b, #7ba566);
  display: flex;
  flex-grow: 1; 
  border: solid 5px white;
  height: 120px;
  // min-width: 150px;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  color: #5e5250;
  &:hover{
    background-color: #7cad16;
    color: white;
    transform: scale(1.015);
  }
}

.todo {
  width: 35%;
  margin: 30px 60px 30px 30px;
  border-left: 2px #d0d0e2 solid;
  font-size: 1.4em;
  font-family: 'Fresca', sans-serif;
  padding-left: 40px;
  padding-top: 20px;
  overflow: auto;


  
  #asideTitle{
    font-size: 1.5em;
    padding-bottom: 0.2em;
    margin-bottom: 0.8em;
    border-bottom: 3px solid #bf4156;
    color: #bf4156;
  }
  h2{
    padding: 0.7em 0;
  }
  p{
    padding-top: 1em;
    font-size: 0.9em;
  }
  #vegetableList{
    list-style-type: circle;
    li{
      margin: 1em;
      font-size: 0.8em;
    }
  }
  #button{
    background-color: #7ba566;
    color: white;
    margin: 1.5em 0;
    padding: 0.5em;
    font-family: 'Fresca', sans-serif;
    font-size: 0.7em;
  }
}

.tag {
  display: inline;
}


.vegetable {
  font-size: 1.2em;
}

